/* Create a class for the crystals to resize them all */ 
.panel {
	opacity: .95;
	background-color: #424242;
}

.jumbotron {
	background-color: #424242;
	opacity: .95;
}

.greyPanels {
	background-color: #424242;
}


/* win/loss */
#wins {
	color: #40FF40;
}

#losses {
	color: #FF0000;
}

#currentNum {
	color: #4000FF;
}

#mythicalNum {
	color: #C000C0;
}

strong {
	color: #80FFC0;
}
.invis {
	background-color: #424242;
	color: red;
}

p {
	color: white;
}

.glyphicon-star {
	color: #006400;
}

.glyphicon-fire {
	color: #760404;
}

hr {
	color: red;
}

img {
    width: 100%;
    height: auto;
}
